<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--移动端的预览设置，用于适配移动端-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" href="/css/myblog.css">
    <title>Admin Console</title>


</head>
<body>
    <!--导航-->
    <div th:insert="commons/admin_navbar"></div>

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <div class="ui top attached segment">
                <h2 class="ui header">Comment detail</h2>
            </div>
            <div class="ui attached segment">
                User：<span th:text="${comment?.getName()}"></span>
            </div>
            <div class="ui attached segment">
                Email：<span th:text="${comment?.getEmail()}"></span>
            </div>
            <div class="ui attached segment">
                Comment time：<span th:text="${#dates.format(comment?.getTime(),'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <div class="ui attached segment">
                <div th:unless="${comment.getParent()==-1}">
                    Reply：<a  th:href="@{'/admin/comments-details/'+${comment.getParent()}}">Parent comment</a>
                </div>
                <div th:if="${comment.getParent()==-1}">
                    Reply：<a>None</a>
                </div>
            </div>
            <div class="ui bottom attached segment">
                Comment content：<span th:text="${comment?.getContent()}"></span>
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--底部footer-->
    <div th:insert="commons/footer"></div>

    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/Semantic-UI-CSS-master/semantic.min.js"></script>
<script type="text/javascript">

    $("#b1").click(function (){
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $('#payButton').popup({
    popup:$('.popup.payQR'),
    on:'click',
    position:'bottom center'
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    })
</script>
</body>
</html>